
    <div  id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2><i class="fas fa-circle-user"></i>Admin Panel</h2>
        </div>
        <ul class="menu">
            <li><a routerLink="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user-edit"></i> View/Edit Profile</a></li>
            <li><a href="#"><i class="fas fa-bell"></i> Notify Staff</a></li>
            <li><a href="#"><i class="fas fa-bell"></i> Notify Student</a></li>
            <li><a href="#"><i class="fas fa-user-plus"></i> Add Staff</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Manage Staff</a></li>
            <li><a href="#"><i class="fas fa-user-plus"></i> Add Student</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Manage Student</a></li>
            <li><a href="#"><i class="fas fa-tasks"></i>Add Task</a></li>
            <li><a routerLink="/managetask"><i class="fas fa-tasks"></i> Manage Tasks</a></li>
            <li><a href="#"><i class="fas fa-book"></i> Add Course</a></li>
            <li><a href="#"><i class="fas fa-list"></i> Manage Course</a></li>
           
            <li><a href="#"><i class="fas fa-book"></i>Add Subject</a></li>
            <li><a href="#"><i class="fas fa-book"></i> Manage Subject</a></li>
            <li><a href="#"><i class="fas fa-tasks"></i>Add Session</a></li>
            <li><a href="#"><i class="fas fa-tasks"></i>Manage Session</a></li>
            <li><a routerLink="/attendance"><i class="fas fa-book-open"></i> View Attendance</a></li>
            <li><a href="#"><i class="fas fa-comment"></i> Student Feedback</a></li>
            <li><a href="#"><i class="fas fa-comment"></i> Staff Feedback</a></li>
            <li><a href="#"><i class="fas fa-comment"></i> Staff Leave</a></li>
            <li><a href="#"><i class="fas fa-comment"></i>Student Leave</a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
    <div class="content"  id="content">
        <!-- Top Navbar -->
    
        <nav class="navbar">
            <span class="menu-icon" (click)="toggleMenu()">&#9776;</span>
        </nav>
        <router-outlet> </router-outlet>
     </div> 
   
   
